extends layout

block content
  div(ng-app="algoSite")
    div(class='top' ng-controller='viewController as ctrl') {{ctrl.test}}
      div(class='assignments' ng-repeat='arr in ctrl.assignments')
        a(href="{{arr.link}}") {{arr.name}}
      div(class='notebooks' ng-repeat='arr in ctrl.notebooks')
        a(href="{{arr.link}}") {{arr.name}}
      div(class='articles' ng-repeat='arr in ctrl.articles')
        a(href="{{arr.link}}") {{arr.name}}
      div(class='people' ng-repeat='arr in ctrl.people')
        a(href="mailto:{{arr.link}}") {{arr.name}}
      div(class='slides' ng-repeat='arr in ctrl.slides')
        a(href='{{arr.link}}') {{arr.name}}