doctype html
html(ng-app="algoSite")
  head
    title algorithms
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h3
      p Dr Ellen Gethner
      p CSCI-5451
      p Graduate Algorithms (Fall 2015)
    div
      div(class='top' ng-controller='viewController as ctrl')
        p Weekly Classroom Slides
          div(class='slides' ng-repeat='arr in ctrl.slides')
            a(href='{{arr.link}}') {{arr.name}}
        p Assignments
          div(class='assignments' ng-repeat='arr in ctrl.assignments')
            a(href="{{arr.link}}") {{arr.name}}
        p Mathematica Notebooks
          div(class='notebooks' ng-repeat='arr in ctrl.notebooks')
            a(href="{{arr.link}}") {{arr.name}}
        p Articles
          div(class='articles' ng-repeat='arr in ctrl.articles')
            a(href="{{arr.link}}") {{arr.name}}
        p People
          div(class='people' ng-repeat='arr in ctrl.people')
            a(href="mailto:{{arr.link}}") {{arr.name}}

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src='site-module.js')