doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src='site-module.js')
  body(ng-app="site")
    block content
