html
  head
    title algorithms
  body
    form(action="/login" method="post")
      div
        label Username:
        input(class="username" type="text" name="username")
      div
        label Password:
        input(class="password" type="password" name="password")
      div
        input(class="submit" type="submit" value="Log In")